.posts {
    margin-top: 90px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 90px;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 2px;
    }

h1 {
    font-size:28px;
    letter-spacing: 3px;
    }
    